<%= form_with(model: mytag, local: true) do |form| %>
  <% if mytag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mytag.errors.count, "error") %> prohibited this mytag from being saved:</h2>

      <ul>
        <% mytag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, class: 'form-control', autofocus:true %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit :Submit, class:'form-control btn btn-outline-primary' %>
  </div>

<% end %>
