<table>

  <tbody>
    <% @mytags.each do |mytag| %>
      <tr>
        <td><%= mytag.category %></td>
        <td><%= link_to 'Show', mytag %></td>
        <td><%= link_to 'Edit', edit_mytag_path(mytag) %></td>
        <td><%= link_to 'Destroy', mytag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Mytag', new_mytag_path %>
