<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="for-group">
            <%= f.email_field :email,placeholder:"Email", autofocus: true, autocomplete: "email", class:'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <%= f.password_field :password, placeholder:"Password", autocomplete: "current-password", class: 'form-control' %>
      </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-goup">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class:'form-check-label'%>
          </div>
        <% end %>
        <br>
          <div class="form-group">
            <%= f.submit "Log in", class:'form-control btn btn-outline-primary btn-sm' %>
          </div>
      <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

</div>
