<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
        <ul>
          <% account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true, autofocus:true %>
  </div>
  <br>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :position, class: 'form-control', required: true %>
    </div>
<br>
    <div class="field">
      <%= form.label "Category" %>
      <%= form.select :mytag_id, Mytag.all.map {|c| [c.category, c.id]},{}, class:'form-control'%>
    </div>
  <br>
  <div class="field">
    <%= form.label :tag_list, "Tag (Separated by commas)" %>
    <%= form.text_field :tag_list, class:'form-control'%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit :Submit, class:'form-control btn btn-outline-primary btn-sm' %>
  </div>
<% end %>
