<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="row">
      <div class="col-2">
        <h1>Posts</h1>
      </div>
      <div class="col-8"></div>
      <div class="col-2">
        <%= link_to 'New Post', new_account_path, class:'btn btn-outline-success' %>
      </div>
    </div>
      <table class="table border">
        <tbody>
          <% @accounts.each do |account| %>
            <tr>
              <td colspan="2"><%= link_to account.name, account, class:'text-success' %><br>
                <% if account.position.length > 50 %>
                 <%= truncate(account.position, length: 50) %>
                 <%= link_to '...Read more', account, class:'text-warning' %>
                 <script>
                   $('.read-more-<%= account.id %>').on('click', function(e) {
                     e.preventDefault()
                     $(this).parent().html('<%= escape_javascript account.position %>')
                   })
                 </script>
                <% else %>
                 <%= account.position %>
                <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
  </div>
</div>
