<% if user_signed_in? %>
<h1><center><%= @account.name%></center></h1>
<% else %>
  <h1>Please Login First</h1>
<% end %>
  <hr>

    <div class="row">
      <div class="col-md-8 mx-auto">
          <h6 class="form-control"style="height:150px; padding: 1%">
            <strong>
                  <%= @account.position%>
          </strong>
          </h6>
        <table class="table border">
        <tbody>
          <%= render @account.comments %>
        </tbody>
      </table>
      <%= render "comments/form" %>

      <% if user_signed_in? %>
      <%= link_to 'Back', accounts_path, class:'btn btn-dark btn-sm' %>
      <%= link_to 'Edit', edit_account_path(@account), class:'btn btn-outline-primary btn-sm' %>
      <%= link_to 'Delete', @account, method: :delete, data: { confirm: 'Are you sure?'}, class:'btn btn-danger btn-sm' %>

      <% else %>
      <%= link_to 'Back', accounts_path, class:'btn btn-outline-dark btn-sm' %>

      <% end %>
    </div>
  </div>

<br>
