<% if user_signed_in? %>
    <center><h1><%= @account.name%></h1></center>
    <div style="float:right">
      Tag: <%= @account.mytag.category%>
    </div>
<% else %>
  <h1>Please Login First</h1>
  <div style="float:right">
    Tag: <%= @account.mytag.category%>
  </div>
<% end %>
<br>
  <hr>

    <div class="row">
      <div class="col-md-8 mx-auto">
            <p>
              <%= @account.position %>
            </p>
        <table class="table border">
        <tbody>
          <%= render @account.comments %>
        </tbody>
      </table>
      <%= render "comments/form" %>
        <% if user_signed_in? %>
          <%= link_to 'Back', accounts_path, class:'btn btn-dark btn-sm' %>
            <%= link_to 'Edit', edit_account_path(@account), class:'btn btn-outline-primary btn-sm' %>
              <%= link_to 'Delete', @account, method: :delete, data: { confirm: 'Are you sure?'}, class:'btn btn-danger btn-sm' %>
                <br>
            <br>
        <% else %>
          <%= link_to 'Back', accounts_path, class:'btn btn-outline-dark btn-sm' %>
            <br>
          <br>
        <% end %>
    </div>
  </div>

<br>
